aside {
  background-color: get-color("text");
  color: get-color("bg");
  // High contrast selection
  ::selection {
    color: get-color("text");
    background: get-color("bg");
  }
    // flex contact icons
  .reset-list--row {
      display: flex;
      gap: calc(var(--space) - 10px);
  }
  // date to the left of title, with clear separation between entries
  .p-upcoming-list {
      > * + * {
          margin-top: get-size("800") * 0.5;
      }
  }
  .p-upcoming-entry {
      display: flex;
      flex-direction: row;
      gap: 0.5cm;
  }
  .p-upcoming-entry__date {
      font-weight: 700;
      flex-shrink: 0;
  }
  .p-upcoming-entry__title {
      flex: 1;
  }
  // when sidebar grid layout, stick content to right
  // move from row to column
  @include media-query("lg") {
      // flex contact icons
      .reset-list--row { justify-content: flex-end;  }
      text-align: right;
      .p-upcoming {
          align-self: flex-end;
          max-width: calc(var(--photo-max) * 1.5);
      }
      &.stack {
	  flex-direction: column;
	  flex-wrap: nowrap;
	  gap: 0;
	  > * {
              padding-top: get-size("800");
              margin-right: 0;
              &:first-of-type {
		  margin-bottom: 0;
              }
	  }
      }
  }
}
