<address class="h-adr p-adr">
  <span class="p-name">
    City, University of London
    <br/> Office: C144, Tait Building
  </span>
  <div>
    <span class="p-street-address">Northampton Square</span>
    <br/><span class="p-locality">London, EC1V 0HB</span>
    <div> <abbr class="p-country-name" title="United Kingdom">UK</abbr> </div>
  </div>
</address>
